{% if menu %}
	{% for item in menu %}
		<li class="{{ item.classes | join(' ') }} {{menuItem}} {{item.children ? "nav__itemHasChildren"}}">
			<a href="{{ item.link }}" class="{{menuLink}} {{item.children ? "nav__linkHasChildren"}}"  aria-haspopup="{{item.children ? "true" : "false"}}" aria-expanded="false">{{item.title}}</a>
			{% if item.children %}
			<ul class="nav__listChildren" aria-label="Submenu {{item.title}}">
			  {% include "partials/menu.twig" with {'menu': item.children} %}
			</ul>
			{% endif %}
		</li>
	{% endfor %}
{% endif %}