<article class="tease">

  {% if post.thumbnail.src %}
		<div class="tease__imgWrapper">
			<a href="{{post.link|e('esc_url')}}">
				{% set post_image = post.thumbnail.src %}
				<img
					srcset ="{{ post.thumbnail.srcset}}"
					src = "{{ post.thumbnail.src }}"
					alt= "{{post.title}}"
					class= "tease__img">
			</a>
		</div>
	{% endif %}

	<div class="tease__text">

		<h1 class="tease__title">
			<a href="{{post.link|e('esc_url')}}" class="tease__titleLink">{{post.title|e('esc_html')}}</a>
		</h1>

	  <p class="tease__preview">{{post.excerpt.length(25)|e('esc_html')}}</p>

		<a href="{{post.link|e('esc_url')}}" class="tease__moreInfo">{{ __('Mehr Infos', 'XXXX')}}</a>

	</div>

</article>
